# List
1111

In [1]:
[1,2,3,4]

[1, 2, 3, 4]

In [4]:
type([1,2])

list

In [6]:
a = [1,2,3] #n번째 인덱스>인덱싱
print(a[2])
print(a[0])

3
1

In [8]:
[1,2][1]

2

In [9]:
a = [1,2,3]
a[-1]

3

In [14]:
a = [1,[2,3,4],2]
a[1][1]

3

In [15]:
list_b = []
list_c = list()

### 리스트에 원소를 추가

In [17]:
list_c = list()
list_c.append(5)
list_c

[5]

In [19]:
list_c.append(2)
list_c

[5, 2]

In [21]:
list_c

[5, 2]

In [22]:
a= [1,2]
b= [3,4]
c= a+b
c

[1, 2, 3, 4]

In [24]:
d= a[1]+b[1]
d

6

In [27]:
e= a.append(b)
print(e)

None

#### 문자열을 리스트로 변형

In [28]:
str_a = "Good moring"
list_a = list(str_a)
list_a

['G', 'o', 'o', 'd', ' ', 'm', 'o', 'r', 'i', 'n', 'g']

## List(리스트)(2) - 리스트 인덱싱, 리스트 슬라이싱

In [30]:
s = 'show how to index into sequences'.split()
s

['show', 'how', 'to', 'index', 'into', 'sequences']

In [31]:
s[1]

'how'

In [32]:
s[-6]

'show'

### 슬라이싱

In [33]:
s = 'show how to index into sequences'.split()
s[1:4]

['how', 'to', 'index']

In [34]:
s[1:]

['how', 'to', 'index', 'into', 'sequences']

In [35]:
s[:4]

['show', 'how', 'to', 'index']

In [37]:
s[:]

['show', 'how', 'to', 'index', 'into', 'sequences']

In [38]:
s[1:-2]

['how', 'to', 'index']

In [39]:
s[:-3]

['show', 'how', 'to']

In [40]:
s[-1:-3]

[]

In [41]:
s[-3:-1]

['index', 'into']

### 리스트를 복사하는 방법

In [42]:
>>> u = s.copy()
>>> v = list(s)
>>> u
['show', 'how', 'to', 'index', 'into', 'sequences']
>>> v
['show', 'how', 'to', 'index', 'into', 'sequences']

['show', 'how', 'to', 'index', 'into', 'sequences']

## list 관련 메소드 및 연산

In [45]:
a = ['서울', '인천', '대전', '서울'] #중복시 첫번째 index
a.index('창원')

ValueError: '창원' is not in list

In [47]:
a = ['서울', '인천', '대전', '서울']
a.count('서울')

2

In [48]:
지역 = ['배', '경']
'배' in 지역

True

### List(리스트)(4) - 리스트 원소 추가, 삭제

In [52]:
a = [1,2,3,4,5]
a.append(6)
a

[1, 2, 3, 4, 5, 6]

In [54]:
a = [1,2,3,4,5]
a.insert(0, 10)
a

[10, 1, 2, 3, 4, 5]

In [55]:
넣는거 = ["배","경"]
넣는거.insert(2,"한")
넣는거

['배', '경', '한']

In [58]:
넣는거 = ["배","경"]
넣는거1 = ["배","한"]
넣었다 = 넣는거 + 넣는거1
넣었다
넣었다 += ["경한"]
넣었다

['배', '경', '배', '한', '경한']

## 원소삭제

In [62]:
목록 = [1,2,3]
del 목록[1]
목록

[1, 3]

In [63]:
a = [1, 2, 3, 4, 5, 6, 7]
a.remove(1)
a

[2, 3, 4, 5, 6, 7]

In [65]:
a = [1, 2, 3, 4, 5, 6, 7]
a.remove(1)
a

[2, 3, 4, 5, 6, 7]

In [68]:
목록 = [1, '2,3']
del 목록[목록.index(2)]
목록

ValueError: 2 is not in list

## List(리스트)(5) - 리스트 정렬

In [70]:
a= [1,2,3]
a.reverse()#순서 뒤집기
a

[3, 2, 1]

In [75]:
a= [12,23,3]
a.sort(reverse=True)
a

[23, 12, 3]

In [76]:
a= [12,23,3]
a.reverse()
a

[3, 23, 12]

In [78]:
m = '나는 파이썬을 잘하고 싶다'
list_m = m.split()
list_m.sort(key=len , reverse=True)
list_m

['파이썬을', '잘하고', '나는', '싶다']

In [80]:
a= [12,23,3]
a= list(a)
a

[12, 23, 3]